version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
  open-pull-requests-limit: 10
- package-ecosystem: gomod
  directory: "/tools"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
  open-pull-requests-limit: 10
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
      interval: "daily"
  commit-message:
      prefix: ":seedling:"
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/cron/bq"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/cron/worker"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
- package-ecosystem: docker
  directory: "/cron/webhook"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
- package-ecosystem: docker
  directory: "/cron/controller"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
- package-ecosystem: npm
  directory: /dialogflow-cx-nodejs
  schedule:
    interval: daily
- package-ecosystem: pip
  directory: /dialogflow-cx
  schedule:
    interval: daily
- package-ecosystem: pip
  directory: /dialogflow-cx/vpc-sc-auth-server/server
  schedule:
    interval: daily
- package-ecosystem: npm
  directory: /
  schedule:
    interval: daily
