{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "bracketSameLine": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
